---
- name: setup deploy custodian
  hosts: bastion

  become: yes
  gather_facts: yes
  
  vars_files:
    - vars.yaml
  tasks:
    - name: build custodian
      include_role:
        name: cloud-run
        tasks_from: build
    

