---
- name: install wget and curl
  yum:
    name:
      - wget
      - curl
      - java-11-openjdk-devel
- name: install python expect module
  pip:
    name: pexpect
- name: install maven and nodejs to build 

  shell: >
    wget https://www-us.apache.org/dist/maven/maven-3/{{maven_version}}/binaries/apache-maven-{{maven_version}}-bin.tar.gz -P /tmp
    && tar xf /tmp/apache-maven-{{maven_version}}-bin.tar.gz -C /usr/local 
    && ln -f -s /usr/local/apache-maven-{{maven_version}} /usr/local/maven 
    && curl -sL https://rpm.nodesource.com/setup_13.x | bash -
    && yum install -y nodejs
  args:
    warn: False

- name: clone backend github
  git:
    repo: 'https://github.com/CBIIT/bento-backend'
    dest: "{{workspace}}/backend"
    force: yes
    version: "{{version}}"

- name: clone frontend github
  git:
    repo: 'https://github.com/CBIIT/bento-frontend'
    dest: "{{workspace}}/frontend"
    force: yes
    version: "{{version}}"

- name: set neo4j bearer
  shell: echo "Basic $(echo -n "neo4j:{{neo4j_password}}" | base64)"
  register: output_bearer

- name: set bearer token
  set_fact:
    bearer: "{{output_bearer.stdout_lines | first}}"

- name: remove the application_example.properties file 
  file:
    path: "{{workspace}}/backend/src/main/resources/application_example.properties"
    state: absent

- name: copy application.properties file to /src/main/resources/
  template:
    src: application.properties.j2
    dest: "{{workspace}}/backend/src/main/resources/application.properties"

- name: build backend code
  command: /usr/local/maven/bin/mvn package -DskipTests
  args:
    chdir: "{{workspace}}/backend"

- name: copy Bento-0.0.1.war to api.war
  copy:
    remote_src: yes
    src: "{{workspace}}/backend/target/Bento-0.0.1.war"
    dest: "{{workspace}}/backend/target/ROOT.war"


# - name: login to docker
#   expect: 
#     command: gcloud auth configure-docker
#     responses:
#       Do you want to continue (Y/n)?: Y

- name: build custodian/bento-backend image
  docker_image:
    build:
      path: "{{workspace}}/backend"
      dockerfile: "{{workspace}}/backend/dockerfiles/backend-dockerfile"
      pull: yes
    name: gcr.io/{{gcp_project}}/bento-backend
    tag: "{{tag}}"
    force_tag: yes
    source: build
    force_source: yes
    push: yes
    
- name: copy environment file to {{workspace}}/bento-frontend
  template:
    src: env.j2
    dest: "{{workspace}}/frontend/.env"

- name: run npm install in {{workspace}}/bento-frontend/
  shell: "{{item}}"
  args:
    chdir: "{{workspace}}/frontend"
  ignore_errors: True
  loop:
    - npm install 
    
- name: run npm build in frontend
  shell: npm run-script build
  args:
    chdir: "{{workspace}}/frontend"
  ignore_errors: True
          
- name: build custodian/bento-frontend image
  docker_image:
    build:
      path: "{{workspace}}/frontend"
      dockerfile: "{{workspace}}/backend/dockerfiles/frontend-dockerfile"
      pull: yes
      nocache: yes
    name: gcr.io/{{gcp_project}}/bento-frontend
    tag: "{{tag}}"
    force_tag: yes
    source: build
    force_source: yes
    push: yes

- name: Create a k8s namespace
  k8s:
    name: demo
    api_version: v1
    kind: Namespace
    state: present

- name: deploy frontend and backend bento applications
  k8s:
    state: present
    definition: "{{ lookup('template', '{{item}}') | from_yaml }}"
    validate_certs: no
    force: yes
  loop:
    - bento-backend.yml.j2
    - bento-frontend.yml.j2

- name: deploy frontend and backend services
  k8s:
    state: present
    definition: "{{ lookup('template', '{{item}}') | from_yaml }}"
    validate_certs: no
    apply: yes
  loop:
    - backend.yml.j2
    - frontend.yml.j2

- name: deploy ingress 
  k8s:
    state: present
    definition: "{{ lookup('template', 'ingress.yml.j2') | from_yaml }}"
    validate_certs: no
    apply: yes
 